@{
	ViewData["Title"] = "Register contact";
}

<div class="text-center">
	<h1 class="display-4">Register contact</h1>
</div>

<form>

	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" placeholder="Enter contact name" />
	</div>

	<div class="form-group">
		<label for="email">E-mail</label>
		<input type="text" class="form-control" placeholder="Enter contact e-mail" />
	</div>

	<div class="form-group">
		<label for="phone">Phone</label>
		<input type="text" class="form-control" placeholder="Enter contact phone" />
	</div>

	<center>
		<button style="margin-top: 10px; width: 100px" type="submit" class="btn btn-primary">Add</button>
		<a style="margin-top: 10px; width: 100px" class="btn btn-secondary" role="button" asp-controller="Contact" asp-action="Index">Back</a>
	</center>

</form>