@{
	ViewData["Title"] = "Delete contact";
}

<center>
	<h3>Do you really want to delete the contact (Ronald)?</h3>
</center>

<center>
	<a style="width: 100px" role="button" class="btn btn-success">Yes</a>
	<a style="width: 100px" role="button" class="btn btn-danger">No</a>
</center>